@import 'adaptivestyles/at-width';

/* Body font styles */
$sans: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Title font styles */
$titles: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Color variables */
$gray: #999;
$black: #404040;
$lightgray: #eee;

/* Container Sizes */
$size-sidebar: 13em;

/* Responsive media query mixins */
@mixin bp($point) {
	@if $point == desktop {
		@include at-width(4) { @content; };
	}
	@else if $point == test {
		@include at-width(6) { @content; };
	}
	@else if $point == mobile {
		@media ( /* Mobile style */ max-width: 768px )  { @content; }
	}
	@else if $point == admin-bar {
		@media ( /* Mobile and up */ min-width: 769px ) and ( max-width: 782px ) { @content; }
	}
}

/* Styles for small text with uppercase font style. Used on dates and post meta */
@mixin sans-uppercase {
	color: #aaa;
	font-family: $sans;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Transition effect used througout Wedge */
@mixin transition {
	-webkit-transition: .07s ease-in;
	-moz-transition: 	.07s ease-in;
	transition: 		.07s ease-in;
}